Options +FollowSymlinks
RewriteEngine on

RewriteRule ^ranking$ /Controller/controller_page_ranking.php [L]
RewriteRule ^home$ /Controller/controller_page_index.php [L]
RewriteRule ^listGames$ /Controller/controller_page_games.php [L]
RewriteRule ^admin-log-in$ /Controller/controller_page_admin.php [L]
RewriteRule ^admin-page$ /Controller/controller_page_admin_choice.php [L]
RewriteRule ^admin-add-game$ /Controller/controller_page_admin_add.php [L]
RewriteRule ^admin-rm-game$ /Controller/controller_page_admin_rm.php [L]
RewriteRule ^current-party$ /Controller/controller_page_current_party.php [L]
RewriteRule ^form-new-party-1$ /Controller/controller_page_newParty.php [L]
RewriteRule ^form-new-party-2$ /Controller/controller_page_display_form.php [L]
RewriteRule ^form-new-party-3$ /Controller/controller_page_resultForm.php [L]
RewriteRule ^admin-rm$ /Controller/controller_rm_game.php [L]
RewriteRule ^admin-end$ /Controller/controller_admin_end.php [L]
RewriteRule ^admin-add$ /Controller/controller_add_game.php [L]
